<% if @activities.present? %>

    <table class=' table-format reg-fonts'>
      <tr>
        <th>
          Tour
        </th>
        <th>
          Data
        </th>
        <th>
          Vagas
        </th>
        <th>
          Ações
        </th>
      </tr>

      <% @activities.each do |activity|  %>
        <tr>
          <td>
            <%= activity.name  %>
          </td>
          <td>
            <%= date(activity.starts_at)  %>
          </td>
          <td>
            <%= activity.max_spots %>
          </td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, activity_path(activity), method: :delete, data: {confirm: "Esta ação é definitiva \n Tem certeza que quer excluir o tour? \n #{activity.name}  "}  %>
            <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe, edit_tour_store_activity_path(activity.tour_store, activity) %>
            <%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'.html_safe, tour_store_activity_audit_path(activity.tour_store, activity) %>

            <%= link_to '<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>'.html_safe, activity_path(activity) %>
          </td>
        </tr>
      <% end %>
    </table>
    <% else %>
    <h1>Crear tour</h1>
  <% end %>
