<%= render 'shared/components/navbars/sidebar' %>
<div class="col-xs-10">
  <div class= 'row'>
    <div class='balance-container col-xs-6'>
      <table class='table '>
        <tr>
          <th colspan='2'>Saldo</th>
        </tr>
        <tr>
          <th>A receber</th>
          <td><%= humanized_money_with_symbol @tour_store.future_balance  %></td>
        </tr>
        <tr>
          <th>Disponível</th>
          <td><%= humanized_money_with_symbol @tour_store.current_balance  %></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6">
      <h4>Transfira para a sua conta corrente</h4>
      <%= render 'shared/forms/form_transfer' %>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <% if @tour_store.banking_information %>
          <%= link_to '<i class="fas fa-edit"></i> Editar Conta Bancaria'.html_safe, edit_tour_store_banking_information_path(@tour_store,@banking_information),class: 'btn btn-primary btn-sm align-right' %>
          <h1>Detalhes da conta bancaria</h1>
          <%= render 'shared/components/tables/table_banking_information' %>
        <% else %>
          <h1>Adicione sua conta bancaria</h1>
          <%= link_to '<i class="fas fa-plus"></i> Adicionar Conta Bancaria'.html_safe, new_tour_store_banking_information_path(@tour_store),class: 'btn btn-success btn-sm' %>
        <% end %>
      </div>
   </div>
   <div class="row">
     <div class="col-xs-6">
       <%= link_to 'Hitórico de resgates', tour_store_transfers_path(@tour_store), class: 'btn btn-sm btn-primary'   %>
     </div>
   </div>

</div>

