<div class="navbar-tc-item">
  <div class="dropdown">
    <%= image_tag "http://placehold.it/50x50", class: "avatar dropdown-toggle", id: "navbar-tc-menu", "data-toggle" => "dropdown" %>
    <ul class="dropdown-menu dropdown-menu-right navbar-tc-dropdown-menu">
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
