<%= simple_form_for([activity,booking_order]) do |f| %>
  <h4>Convidados</h4>

  <div id="guests">

    <%= f.simple_fields_for :guest do |guests_form|  %>
      <%= render 'shared/forms/nested/guests_fields', f: guests_form   %>

      <%= link_to_add_association 'Adicionar pessoa', f, :guests, partial: 'shared/forms/nested/guests_fields', f: guests_form, class: 'btn btn-primary btn-md links' %>

    <% end %>
  </div>
  <%= f.submit class: 'btn btn-success btn-md' %>

<% end %>
