<%= simple_form_for([activity,booking_order]) do |f| %>
  <div id="guests">
    <%= f.simple_fields_for :guests do |guests_form|  %>

      <%= render 'shared/forms/nested/guests_fields', f: guests_form   %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Adicionar pessoa', f, :guests, partial: 'shared/forms/nested/guests_fields', class: 'btn btn-success btn-md ' %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary btn-md align-right' %>
<% end %>
