<div class="col-xs-12 col-sm-8">
  <%= simple_form_for([tour_store]) do |f| %>
    <div class="row form-format">
      <div class="row form-segment form-segment">
        <h3>Informações de Contato</h3>
        <div class="col-xs-12 col-sm-6 ">
          <%= f.input :name, label: 'Nome da empresa'  %>
          <%= f.input :description, label:'Descrição', placeholder:'Esa descrição ajuda seus tours serem achados no Google outros motors de busca' %>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <%= f.input :website, label:'Site', placeholder: 'exemplo: www.seusite.com' %>
          <%= f.input :phone, label: 'Telefone', placeholder: 'Algúns clientes vão querer ligar para você' %>
          <%= f.input :form_address, as: :string, label: 'Endereço', placeholder: 'Coloque o endereço da sua agência/escritório/loja fisica', input_html: {autocomplete: 'off'} %>
        </div>
      </div>
      <div class="row form-segment">
        <h3>Detalhes de cadastro</h3>
        <div class="col-xs-12 col-sm-6 ">
          <%= f.input :business_tax_id, label: 'CNPJ', placeholder: 'Importante para sua faturação' %>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <%= f.input :regulator_id, label: 'Código Cadastur', placeholder: 'Caso possua, coloque seu cadastro do Cadastur' %>
        </div>
      </div>
      <div class="row form-segment">
        <h3>Links das suas Redes Sociaís</h3>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :instagram_link, label: '<i class="fab fa-instagram"></i> Instagram'.html_safe %>
          <%= f.input :facebook_link, label: '<i class="fab fa-facebook"></i> Facebook'.html_safe %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :trip_advisor_link, label: '<i class="fab fa-tripadvisor"></i> Trip Advisor'.html_safe %>
          <%= f.input :twitter_link, label: '<i class="fab fa-twitter"></i> Twitter'.html_safe %>
        </div>
      </div>
      <div class="row form-segment">
        <h3>Imagéns da Empresa</h3>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :logo, label:'Logotipo - Adicone a imagem que sera usada nos seus tours'%>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <%= f.input :image_banner, label:'Imagem de capa - Destaque sua empresa com a sua foto de capa'%>
        </div>
      </div>
      <%= f.submit class: ' btn btn-lg btn-success align-right', value: 'Salvar alterações' %>
    </div>
  <% end %>
</div>
