<div class="footer-tour-store footer">
  <% store = get_tour_store %>
  <div class="footer-links">
    <% if store.social_media_links.any? %>
      <% store.social_media_links.each do |k,v|  %>
        <a href="<%= v %>" target='_blank'><i class="fab fa-<%= k %>"></i></a>
      <% end %>
    <% end %>
    <p><i></i><%=store.name %></p>
    <p><i class="fas fa-phone-volume"></i><%=store.phone %></p>
    <p><i class="fas fa-map-marker"></i><%=store.address %></p>
  </div>
  <div class="footer-copyright">
    Built at OO labs
  </div>
</div>
