<div class="col-xs-2 sidebar-tour-store">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="<%= active(tour_store_dashboard_path(@tour_store))  %>">
      <a href="<%= tour_store_dashboard_path(@tour_store)  %>">
        <span class="glyphicon glyphicon-dashboard" aria-hidden='true'></span>
        Dashboard
      </a>
    </li>
    <li role="presentation" class="<%= active(tour_store_bank_path(@tour_store)) %>">
      <a href="<%= tour_store_bank_path(@tour_store)%>">
        <i class="fas fa-money-check-alt"></i>
        Detalhes Bancarios
      </a>
    </li>
    <li role="presentation" class="<%= active(tour_store_tours_path(@tour_store))  %>">
      <a href="<%= tour_store_tours_path(@tour_store)  %>">
        <span class="glyphicon glyphicon-tent" aria-hidden='true'></span>
        Tours
      </a>
    </li>
    <li role="presentation" class="<%= active(tour_store_events_path(@tour_store))  %>">
      <a href="<%= tour_store_events_path(@tour_store)  %>">
        <i class="fas fa-clipboard-list"></i>
        Saídas
      </a>
    </li>
    <li role="presentation" class="<%= active(tour_store_users_path(@tour_store))  %>">
      <a href="<%= tour_store_users_path(@tour_store)  %>">
        <span class="glyphicon glyphicon-user" aria-hidden='true'></span>
        Usuarios
      </a>
    </li>
    <li role="presentation" class="<%= active(tour_store_company_path(@tour_store))  %>">
      <a href="<%= tour_store_company_path(@tour_store)  %>">
        <i class="fas fa-building"></i>
        Empresa
      </a>
    </li>
  </ul>
</div>





