<div class="col-xs-2 sidebar-tour-store">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="<%= active(tour_store_dashboard_path(@tour_store))  %>">
      <a href="<%= tour_store_dashboard_path(@tour_store)  %>">
        <span class="glyphicon glyphicon-dashboard" aria-hidden='true'></span>
        Dashboard
      </a>
    </li>
    <% if is_manager? %>
      <li role="presentation" class="<%= active(tour_store_bank_path(@tour_store)) %>">
        <a href="<%= tour_store_bank_path(@tour_store)%>">
          <i class="fas fa-dollar-sign"></i>
          Pagamentos
        </a>
      </li>
    <% end %>
    <% if is_manager? %>
      <li role="presentation" class="<%= active(tour_store_company_path(@tour_store))  %>">
        <a href="<%= tour_store_company_path(@tour_store)  %>">
          <i class="fas fa-cogs"></i>
          Configurações
        </a>
      </li>
    <% end %>

    <li role="presentation" class="<%= active(tour_store_tours_path(@tour_store))  %>">
      <a href="<%= tour_store_tours_path(@tour_store)  %>">
        <span class="glyphicon glyphicon-tent" aria-hidden='true'></span>
        Tours
      </a>
    </li>
    <li role="presentation" class="<%= active(tour_store_events_path(@tour_store))  %>">
      <a href="<%= tour_store_events_path(@tour_store)  %>">
        <i class="fas fa-clipboard-list"></i>
        Saídas
      </a>
    </li>
  </ul>
</div>





