<%= render 'shared/components/banners/activity_banner' %>

<div class="container">
  <h2>Confirme a sua resserva</h2>
  <h3> <%= @event.activity.name  %></h3>
  <h3>Dada: <%= @event.date  %> </h3>
  <h3>Horário: <%= @event.time %> </h3>

  <%= render 'shared/forms/form_order', activity: @activity, order: @order %>
</div>
