
<div class=" row nested-fields payment_fields ">
  <div class="row form-order payment-card">
    <h4>Pagamento</h4>
    <div class="form-row">
      <div class="col-sm-6 col-xs-12 ">
        <%= f.input :number, label: false, placeholder: 'Número de cartão', input_html: {autocomplete:"off", class: "credit_card_number", id: 'number'}  %>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="col-xs-4">
        <%= f.input :cvc, placeholder: 'CCV', label: false, input_html: {autocomplete:"off", class: "credit_card_cvv", id: 'cvc'}  %>
      </div>
        <div class="col-xs-4">
          <%= f.input :month, label:false, as: :string, input_html: {class: 'credit_card_expiration', id: 'month', autocomplete: 'off'}, placeholder:"MM"   %>
        </div>
        <div class="col-xs-4">
          <%= f.input :year, label:false, as: :string, input_html: {class: 'credit_card_expiration', id: 'year', autocomplete: 'off'}, placeholder:"AA" %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-8 col-xs-12">
        <%= f.input :name, label: false, placeholder: 'Titular do cartão' %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= f.input :installments, selected: 1, collection: (1..@activity.max_installments), hint: 'Parcelas sem juros', label: false   %>
      </div>
    </div>
  </div>
  <div class="row form-order payment-buyer">
    <h4>Dados do titular do cartão</h4>
    <div class="form-row">
      <div class="col-sm-4 col-xs-12">
        <%= f.input :cpf, label: 'CPF'  %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= f.input :email, label: 'email'  %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="col-xs-4">
          <%= f.input :phone_area_code, label:'(ddd)' %>
        </div>
        <div class="col-xs-8" >
          <%= f.input :phone_number,label: 'Telefone' %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-xs-12 form-inline">
        <%= f.input :date_of_birth, start_year: Time.now.year - 99,end_year: Time.now.year - 10, label: 'Data de nascimento', hint: 'informação necessaria para processar o pagamento com segurança'  %>
      </div>
    </div>
  </div>
  <div class="row form-order payment-address">
    <h4>Endereço do pagamento</h4>
    <div class="form-row">
      <div class="col-sm-4 col-xs-12">
        <%= f.input :street, label:'Logradouro' %>
        <%= f.input :city, label:'Cidade' %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= f.input :street_number, label:'Num e Complemento' %>
        <%= f.input :state, label:'Estado' %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= f.input :district, label:'Bairro' %>
        <%= f.input :postal_code, label:'CEP' %>
      </div>
    </div>
  </div>
</div>
