<div class="container">
  <%= render 'shared/components/activity_admin_buttons', activity: @activity  %>
  <h1><%= @activity.name %></h1>
  <h2>Próximas saidas</h2>
  <% if @activity.recurring.empty? %>
    <h3><%= @activity.starts_at %></h3>
    <%= link_to 'Reservar agora', new_activity_order_path(@activity, date: @activity.starts_at),
    class: 'btn btn-md btn-success' %>
  <%end %>
  <%= render 'shared/components/calendar_activity' %>
</div>
