<%= render 'shared/components/banners/activity_banner' %>

<%= render 'shared/components/activity_admin_buttons', activity: @activity  %>
<div class="row activity-content-container">
  <div class="col-xs-12 col-sm-6">
    <h3><%= @activity.description %></h3>
    <table class='table'>
      <tr>
        <th>Local de saida</th>
        <td><%= @activity.departure_location %></td>
      </tr>
      <tr>
        <th>Horário de saída</th>
        <td><%= @activity.starts_at.to_time.getlocal.strftime("%I:%M %p") %></td>
      </tr>
    </table>
    <div
      id="map"
      style="width: 100%;
      height: 400px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Próximas saidas</h3>
    <%= render 'shared/components/calendar_activity' %>
  </div>
</div>

<% if @activity.photos.any? %>
  <div class="gallery-container">
    <div class="row">
      <% @activity.photos.each do |photo| %>
        <%= render 'shared/components/thumbnail', image: photo.image %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="gallery-modal-container">
  <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>
</div
