<%= render 'shared/components/banners/activity_banner' %>
<div class="container">
  <%= render 'shared/components/activity_admin_buttons', activity: @activity  %>
  <h2><%= @activity.description %></h2>
  <table class='table'>
    <tr>
      <th>Local de saida</th>
      <td><%= @activity.departure_location %></td>
    </tr>
    <tr>
      <th>Horário de saída</th>
      <td><%= @activity.starts_at.to_time.getlocal.strftime("%I:%M %p") %></td>
    </tr>
  </table>
  <h3>Próximas saidas</h3>
  <%= render 'shared/components/calendar_activity'  %>
</div>
<div class="gallery-container">
  <div class="row">
    <% @activity.photos.each do |photo| %>
      <%= render 'shared/components/thumbnail', image: photo.image %>
    <% end %>
  </div>
</div>
